ENVIRONMENT=development
CORS_ORIGINS=http://localhost:3000

# TMDB: https://www.themoviedb.org/settings/api
TMDB_API_KEY=

# Supabase (Connect button -> Session pooler connection string)
DATABASE_URL=
SUPABASE_URL=
